.contact {
    margin-top: 3rem;
}

.contact-wrapper {
    margin-top: 1.5rem;
}

.name-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

}

.name-wrapper input {
    background-color: var(--input-base);
    color: var(--input-placeholder);
    border: none;
    border-radius: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3rem;

    font: var(--open-font-family);
    font-size: 1rem;
    font-weight: 400;
}



.name-flex {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;

}

.email-flex, .tel-flex {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    
}

.email-flex input, .tel-flex input {
    width: 17rem;
    height: 3rem;
    padding-inline: 1rem;
    background-color: var(--input-base);
    color: var(--input-placeholder);
    border: none;
    border-radius: 0.5rem;

    font: var(--open-font-family);
    font-size: 1rem;
    font-weight: 400;
}