.checkbox-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 35rem;
    margin-top: 1.75rem;
}

/* Esconde o checkbox padrão */
input[type="radio"] {
    display: none;
}

.theme-flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 35rem;
    gap: 0.5rem;
    margin-top: 1rem;

}

/* Estiliza o label para parecer um botão */
.checkbox {
    display: flex;
    align-items: center;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--shape-button);
    width: 8.375rem;
    flex-wrap: wrap;
    text-align: center;
    height: 6.4375rem;
    padding-inline: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;

    font: var(--open-font-family);
    font-size: 0.875rem;
    color: var(--text-heading);
    font-weight: 400;
}

/* Define tamanho das imagens */
.checkbox-label img {
    width: 7.875rem;
    height: 4rem;
}

/* Quando o checkbox estiver marcado */
input[type="radio"]:checked + .checkbox-label {
    color: white;
    border: 2px solid var(--brand-light);
}



.general-style {
    margin-top: 1.75rem;
}

.general-style .style .mode  {
    margin-top: 0.75rem;
}

.general-style .style {
    display: flex;
    gap: 3.125rem;
    align-items: center;
}




.toggle input {
    display: none;
}

/* Estiliza a imagem */
.icon {
    width: 3.125rem;
    height: auto;
    cursor: pointer;
    transition: opacity 0.3s;
}

/* Troca a imagem ao marcar o checkbox */
.toggle input:checked + .icon {
    content: url("../../assets/icons/Frame\ 48095946.svg");
     /* Altere para a imagem desejada */
}

.download-img input {
    display: none;
}

.img {
    margin-top: 0.75rem;
}

.img label {
    display: flex;
    gap: 0.9375rem;
    background-color: var(--shape-button);
    color: var(--text-heading);
    padding: 0.5rem 0.75rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}


